<html><head><title>Revision 6389: /trunk/Bundles/Java.tmbundle/Templates/Hibernate Mapping Document</title></head>
<body>
 <h2>Revision 6389: /trunk/Bundles/Java.tmbundle/Templates/Hibernate Mapping Document</h2>
 <ul>
  <li><a href="../">..</a></li>
  <li><a href="hibernate-tmpl.hbm.xml">hibernate-tmpl.hbm.xml</a></li>
  <li><a href="info.plist">info.plist</a></li>
 </ul>
 <hr noshade><em>Powered by <a href="http://subversion.tigris.org/">Subversion</a> version 1.4.0 (r21228).</em>
</body></html>