<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>name</key>
        <string>AmazonS3</string>
        <key>uuid</key>
        <string>6CCA8CDF-CCF9-4E17-9EBD-9488418878F4</string>
    </dict>
</plist>
