[submodule "prymatex/share/Bundles/scm.tmbundle"]
	path = prymatex/share/Bundles/scm.tmbundle
	url = git@github.com:prymatex/scm.tmbundle.git
[submodule "prymatex/share/Bundles/git.tmbundle"]
	path = prymatex/share/Bundles/git.tmbundle
	url = git@github.com:prymatex/git.tmbundle.git
[submodule "prymatex/share/Bundles/python.tmbundle"]
	path = prymatex/share/Bundles/python.tmbundle
	url = git@github.com:prymatex/python.tmbundle.git
[submodule "prymatex/share/Bundles/source.tmbundle"]
	path = prymatex/share/Bundles/source.tmbundle
	url = git@github.com:prymatex/source.tmbundle.git
[submodule "prymatex/share/Bundles/text.tmbundle"]
	path = prymatex/share/Bundles/text.tmbundle
	url = git@github.com:prymatex/text.tmbundle.git
[submodule "prymatex/share/Bundles/ruby.tmbundle"]
	path = prymatex/share/Bundles/ruby.tmbundle
	url = git@github.com:prymatex/ruby.tmbundle.git
[submodule "prymatex/share/Bundles/todo.tmbundle"]
	path = prymatex/share/Bundles/todo.tmbundle
	url = git@github.com:prymatex/todo.tmbundle.git
[submodule "prymatex/share/Bundles/c.tmbundle"]
	path = prymatex/share/Bundles/c.tmbundle
	url = git@github.com:prymatex/c.tmbundle.git
[submodule "prymatex/share/Bundles/css.tmbundle"]
	path = prymatex/share/Bundles/css.tmbundle
	url = git@github.com:prymatex/css.tmbundle.git
[submodule "prymatex/share/Bundles/html.tmbundle"]
	path = prymatex/share/Bundles/html.tmbundle
	url = git@github.com:prymatex/html.tmbundle.git
[submodule "prymatex/share/Bundles/bundle-development.tmbundle"]
	path = prymatex/share/Bundles/bundle-development.tmbundle
	url = git@github.com:prymatex/bundle-development.tmbundle.git
[submodule "prymatex/share/Bundles/shellscript.tmbundle"]
	path = prymatex/share/Bundles/shellscript.tmbundle
	url = git@github.com:prymatex/shellscript.tmbundle.git
[submodule "prymatex/share/Bundles/php.tmbundle"]
	path = prymatex/share/Bundles/php.tmbundle
	url = git@github.com:prymatex/php.tmbundle.git
[submodule "prymatex/share/Bundles/restructuredtext.tmbundle"]
	path = prymatex/share/Bundles/restructuredtext.tmbundle
	url = git@github.com:prymatex/restructuredtext.tmbundle.git
[submodule "prymatex/share/Bundles/perl.tmbundle"]
	path = prymatex/share/Bundles/perl.tmbundle
	url = git@github.com:prymatex/perl.tmbundle.git
[submodule "prymatex/share/Bundles/latex.tmbundle"]
	path = prymatex/share/Bundles/latex.tmbundle
	url = git@github.com:prymatex/latex.tmbundle.git
