[submodule "prymatex/share/Bundles/scm.tmbundle"]
	path = prymatex/share/Bundles/scm.tmbundle
	url = https://github.com/prymatex/scm.tmbundle.git
[submodule "prymatex/share/Bundles/git.tmbundle"]
	path = prymatex/share/Bundles/git.tmbundle
	url = https://github.com/prymatex/git.tmbundle.git
[submodule "prymatex/share/Bundles/python.tmbundle"]
	path = prymatex/share/Bundles/python.tmbundle
	url = https://github.com/prymatex/python.tmbundle.git
[submodule "prymatex/share/Bundles/source.tmbundle"]
	path = prymatex/share/Bundles/source.tmbundle
	url = https://github.com/prymatex/source.tmbundle.git
[submodule "prymatex/share/Bundles/text.tmbundle"]
	path = prymatex/share/Bundles/text.tmbundle
	url = https://github.com/prymatex/text.tmbundle.git
[submodule "prymatex/share/Bundles/ruby.tmbundle"]
	path = prymatex/share/Bundles/ruby.tmbundle
	url = https://github.com/prymatex/ruby.tmbundle.git
[submodule "prymatex/share/Bundles/todo.tmbundle"]
	path = prymatex/share/Bundles/todo.tmbundle
	url = https://github.com/prymatex/todo.tmbundle.git
[submodule "prymatex/share/Bundles/c.tmbundle"]
	path = prymatex/share/Bundles/c.tmbundle
	url = https://github.com/prymatex/c.tmbundle.git
[submodule "prymatex/share/Bundles/css.tmbundle"]
	path = prymatex/share/Bundles/css.tmbundle
	url = https://github.com/prymatex/css.tmbundle.git
[submodule "prymatex/share/Bundles/html.tmbundle"]
	path = prymatex/share/Bundles/html.tmbundle
	url = https://github.com/prymatex/html.tmbundle.git
[submodule "prymatex/share/Bundles/bundle-development.tmbundle"]
	path = prymatex/share/Bundles/bundle-development.tmbundle
	url = https://github.com/prymatex/bundle-development.tmbundle.git
[submodule "prymatex/share/Bundles/shellscript.tmbundle"]
	path = prymatex/share/Bundles/shellscript.tmbundle
	url = https://github.com/prymatex/shellscript.tmbundle.git
[submodule "prymatex/share/Bundles/php.tmbundle"]
	path = prymatex/share/Bundles/php.tmbundle
	url = https://github.com/prymatex/php.tmbundle.git
[submodule "prymatex/share/Bundles/restructuredtext.tmbundle"]
	path = prymatex/share/Bundles/restructuredtext.tmbundle
	url = https://github.com/prymatex/restructuredtext.tmbundle.git
[submodule "prymatex/share/Bundles/perl.tmbundle"]
	path = prymatex/share/Bundles/perl.tmbundle
	url = https://github.com/prymatex/perl.tmbundle.git
[submodule "prymatex/share/Bundles/latex.tmbundle"]
	path = prymatex/share/Bundles/latex.tmbundle
	url = https://github.com/prymatex/latex.tmbundle.git
[submodule "prymatex/share/Bundles/sql.tmbundle"]
	path = prymatex/share/Bundles/sql.tmbundle
	url = https://github.com/prymatex/sql.tmbundle.git
[submodule "prymatex/share/Bundles/javascript.tmbundle"]
	path = prymatex/share/Bundles/javascript.tmbundle
	url = https://github.com/prymatex/javascript.tmbundle.git
[submodule "prymatex/share/Bundles/make.tmbundle"]
	path = prymatex/share/Bundles/make.tmbundle
	url = https://github.com/prymatex/make.tmbundle.git
[submodule "prymatex/share/Bundles/textile.tmbundle"]
	path = prymatex/share/Bundles/textile.tmbundle
	url = https://github.com/prymatex/textile.tmbundle.git
[submodule "prymatex/share/Bundles/java.tmbundle"]
	path = prymatex/share/Bundles/java.tmbundle
	url = https://github.com/prymatex/java.tmbundle.git
[submodule "prymatex/share/Bundles/javadoc.tmbundle"]
	path = prymatex/share/Bundles/javadoc.tmbundle
	url = https://github.com/prymatex/javadoc.tmbundle.git
[submodule "prymatex/share/Bundles/ruby-on-rails.tmbundle"]
	path = prymatex/share/Bundles/ruby-on-rails.tmbundle
	url = https://github.com/prymatex/ruby-on-rails.tmbundle.git
[submodule "prymatex/share/Bundles/subversion.tmbundle"]
	path = prymatex/share/Bundles/subversion.tmbundle
	url = https://github.com/prymatex/subversion.tmbundle.git
[submodule "prymatex/share/Bundles/python-django.tmbundle"]
	path = prymatex/share/Bundles/python-django.tmbundle
	url = https://github.com/prymatex/python-django.tmbundle.git
[submodule "prymatex/share/Bundles/python-django-templates.tmbundle"]
	path = prymatex/share/Bundles/python-django-templates.tmbundle
	url = https://github.com/prymatex/python-django-templates.tmbundle
[submodule "prymatex/share/Bundles/textmate.tmbundle"]
	path = prymatex/share/Bundles/textmate.tmbundle
	url = https://github.com/prymatex/textmate.tmbundle
[submodule "prymatex/share/Bundles/prymatex.tmbundle"]
	path = prymatex/share/Bundles/prymatex.tmbundle
	url = https://github.com/prymatex/prymatex.tmbundle
[submodule "prymatex/share/Bundles/themes.tmbundle"]
	path = prymatex/share/Bundles/themes.tmbundle
	url = https://github.com/prymatex/themes.tmbundle.git
[submodule "prymatex/share/Bundles/bundle-support.tmbundle"]
	path = prymatex/share/Bundles/bundle-support.tmbundle
	url = https://github.com/prymatex/bundle-support.tmbundle.git
[submodule "prymatex/share/Plugins/codeintel.pmxplugin"]
	path = prymatex/share/Plugins/codeintel.pmxplugin
	url = https://github.com/prymatex/codeintel.pmxplugin.git
[submodule "prymatex/share/Plugins/python.pmxplugin"]
	path = prymatex/share/Plugins/python.pmxplugin
	url = https://github.com/prymatex/python.pmxplugin.git
[submodule "prymatex/share/Bundles/json.tmbundle"]
	path = prymatex/share/Bundles/json.tmbundle
	url = git@github.com:prymatex/json.tmbundle.git
[submodule "prymatex/share/Bundles/markdown.tmbundle"]
	path = prymatex/share/Bundles/markdown.tmbundle
	url = git@github.com:prymatex/markdown.tmbundle.git
[submodule "prymatex/share/Packages/sublime"]
	path = prymatex/share/Packages/sublime
	url = git@github.com:prymatex/sublime.git
[submodule "prymatex/share/Packages/SublimeCodeIntel"]
	path = prymatex/share/Packages/SublimeCodeIntel
	url = git@github.com:prymatex/codeintel.git
[submodule "prymatex/share/Bundles/cmake.tmbundle"]
	path = prymatex/share/Bundles/cmake.tmbundle
	url = git@github.com:prymatex/cmake.tmbundle
[submodule "prymatex/share/Packages/Python"]
	path = prymatex/share/Packages/Python
	url = git@github.com:prymatex/Python.git
[submodule "prymatex/share/Bundles/coffee-script.tmbundle"]
	path = prymatex/share/Bundles/coffee-script.tmbundle
	url = git@github.com:prymatex/coffee-script.tmbundle
