<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>diegomvh@gmail.com</string>
	<key>contactName</key>
	<string>Diego van Haaster</string>
	<key>description</key>
	<string>Prymatex Core Bundle</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>23054700-8EEC-11E1-857A-78E7D1558DC8</string>
			<string>------------------------------------</string>
			<string>A8470964-043D-11E2-9C4C-001E4C8CBB6E</string>
			<string>------------------------------------</string>
			<string>59ED3738-0425-11E2-8E7F-001E4C8CBB6E</string>
			<string>44480E58-0425-11E2-8E7F-001E4C8CBB6E</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>A8470964-043D-11E2-9C4C-001E4C8CBB6E</key>
			<dict>
				<key>items</key>
				<array>
					<string>842C84A4-49F2-4114-BAFF-D1D128F3AC9B</string>
					<string>F1780FD5-29EA-44FC-A8FA-95914849493E</string>
					<string>------------------------------------</string>
					<string>C9C0BB08-AA1B-49FC-99DD-00B7DC2ACA7C</string>
					<string>C2D61E69-5FB8-484D-8594-FBB5FEDAC20B</string>
				</array>
				<key>name</key>
				<string>Console</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Prymatex</string>
	<key>ordering</key>
	<array>
		<string>46cec7c4-9194-49e4-a931-2a80ec4a453b</string>
		<string>15fa1c31-af98-44f2-998c-38f41f82029e</string>
	</array>
	<key>uuid</key>
	<string>BFFBF71B-5285-4E72-AF15-5613323034D1</string>
</dict>
</plist>
