<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>cd "$TM_NEW_PROJECT_DIRECTORY"
django-admin.py startproject "$TM_NEW_PROJECT_NAME"</string>
	<key>extension</key>
	<string></string>
	<key>name</key>
	<string>Django Project</string>
	<key>uuid</key>
	<string>9B24F300-4DA8-11E1-8D52-78E7D1558DC8</string>
</dict>
</plist>
