<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TEXTMATE_BUNDLES_PATHS</key>
	<array>
		<string>/home/diego/workspace/prymatex/src/prymatex/resources/Bundles</string>
	</array>
	<key>TEXTMATE_THEMES_PATHS</key>
	<array>
		<string>/home/diego/workspace/prymatex/src/prymatex/resources/Themes</string>
	</array>
	<key>config_file</key>
	<string>/home/diego/workspace/prymatex/src/prymatex/settings.plist</string>
</dict>
</plist>
