<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>cd "$TM_NEW_FILE_DIRECTORY"
django-admin.py startapp "$TM_NEW_FILE_BASENAME"</string>
	<key>extension</key>
	<string></string>
	<key>name</key>
	<string>Django Application</string>
	<key>uuid</key>
	<string>4D24786C-4DFB-11E1-9109-001E4C8CBB6E</string>
</dict>
</plist>
