<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>name</key>
        <string>SnipplrRB</string>
        <key>uuid</key>
        <string>CBB5BA1F-014C-4CED-9B1A-248B637477BA</string>
    </dict>
</plist>
