<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>name</key>
        <string>Emacs</string>
        <key>uuid</key>
        <string>2E19C4C4-4EE9-4460-A327-495237C17C82</string>
        <key>mainMenu</key>
        <dict>
            <key>items</key>
            <array>
                <string>1B32B6EB-BA8D-46A8-B572-182C5D12A64D</string>
                <string>A372CFB3-A939-4E88-873F-081638D4698A</string>
                <string>------------------------------------</string>
                <string>937F39B4-367A-4B91-A2AA-B32370785E66</string>
                <string>BDD6157F-8235-4430-A648-C431412E783C</string>
                <string>------------------------------------</string>
                <string>31D25978-6096-4E14-8096-C6988B407C29</string>
                <string>C7C06B11-C428-4EC0-9B59-E8BEA2385B50</string>
                <string>------------------------------------</string>
                <string>E3529C83-8851-48E3-A350-D497B61E1647</string>
                <string>245942D3-ECA6-4985-B96C-7AF77D7661E2</string>
            </array>
        </dict>
    </dict>
</plist>
