<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>config_vars</key>
	<dict>
		<key>TEXTMATE_COMPAT_MODE</key>
		<string>supercompat :P</string>
		<key>TEXTMATE_THEMES_PATH</key>
		<string>/pepe/algo/Themes</string>
	</dict>
	<key>editor</key>
	<dict>
		<key>window</key>
		<dict>
			<key>height</key>
			<integer>500</integer>
			<key>width</key>
			<integer>600</integer>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>pedro</key>
	<dict>
		<key>window</key>
		<dict>
			<key>x</key>
			<integer>128</integer>
		</dict>
	</dict>
	<key>pepe</key>
	<integer>3</integer>
</dict>
</plist>
