QDockWidget QPushButton {
  icon-size: 12px;
  padding: 4px;
  margin: 2px;
}

QDockWidget QToolButton {
  icon-size: 12px;
  padding: 2px;
  margin: 2px;
}

QStatusBar QLabel {
  font-size: 11px;
}

QStatusBar QComboBox {
  font-size: 11px;
}