
/* Dock widgets */
QDockWidget QPushButton {
  icon-size: 12px;
}

QDockWidget QToolButton {
  icon-size: 19px;
}

QDockWidget QComboBox {
  font-size: 12px;
}

/* Status bar */
QStatusBar QLabel {
  font-size: 12px;
}

QStatusBar QComboBox {
  font-size: 12px;
}

QStatusBar QPushButton {
  icon-size: 12px;
  font-size: 12px;
}

QStatusBar QToolButton {
  icon-size: 17px;
}