<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>command</key>
  <string>#!/usr/bin/env ruby
uuid = %x[uuidgen].chomp.upcase
puts "&lt;key&gt;uuid&lt;/key&gt;"
print "&lt;string&gt;#{uuid}&lt;/string&gt;"
</string>
  <key>input</key>
  <string>none</string>
  <key>name</key>
  <string>Generate UUID</string>
  <key>tabTrigger</key>
  <string>uuid</string>
  <key>output</key>
  <string>insertAsSnippet</string>
  <key>uuid</key>
  <string>641FE8F3-920C-4735-BDC1-009C5158F34A</string>
</dict>
</plist>