<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;${1:p}&gt;${2:Date}&lt;br /&gt;
&lt;input type="text" name="entry_date" value="{entry_date}" maxlength="${3:23}" size="${4:25}" /&gt;&lt;/${1:p}&gt;
$0</string>
	<key>name</key>
	<string>- date</string>
	<key>scope</key>
	<string>text.html, text.xhtml</string>
	<key>uuid</key>
	<string>ADF30999-0F0B-4184-8504-FA416DA7A682</string>
</dict>
</plist>
