<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>name</key>
        <string>Smarty</string>
        <key>uuid</key>
        <string>C31A3EDC-3119-4A78-A03D-51B9AA47CF79</string>
    </dict>
</plist>
